<div class="container-show">
  <div class="title-list">
    <h2 class="text-center"><%= @list.name.humanize %></h2>
  </div>

  <div class="infos-list">
    <div class="list-description">
      <p><strong>Description:</strong>
        <% if @list.description.nil? %>
          No description for this list.
        <% else %>
        <%= @list.description %>
        <% end %></p>
        <p><strong>Number of movies:</strong> <%= @list.movies.count %></p>
    </div>

    <div class="list-links">
      <%= link_to "Edit", edit_list_path(@list), class: "btn btn-primary" %>
      <%= link_to "Delete", list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure to delete your list : #{@list.name}?"}, class: "btn btn-danger" %>
      <%= link_to "Back", lists_path, class:"btn btn-secondary" %>
    </div>
  </div>

  <div class="movie-list">
    <% if @list.movies.empty? %>
      <p>No movies in this list, add one now !</p>
    <% else %>
          <% @list.movies.each do |movie| %>
          <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>

          <div class="movie-card">
             <%= image_tag movie.poster_url, alt: movie.title, :class=>"movie-poster"  %>

              <div class="movie-info">
                <strong><%= movie.title %> <span class="text-muted font-weight-normal">• <%= movie.rating %> <i class="fas fa-star star-yellow"></i></span></strong>
                <small class="text-muted"><%= movie.overview %></small>

                  <div class="movie-details">
                    <div class="movie-comment">
                      <i class="fas fa-quote-left mr-2"></i><small class="flex-grow-1"> <%= bookmark.comment %> </small><i class="fas fa-quote-right mr-2"></i>
                    </div>

                    <div class="movie-links">
                      <small><%= link_to 'Delete', bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger' %></small>
                      <small> <%= link_to "Edit", edit_list_bookmark_path( @list, bookmark) %></small>
                    </div>
                  </div>
            </div>

          </div>

      <% end %>
    <% end %>
  </div>

  <div class="my-2">
    <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-primary" %>
    <%= link_to "Back", lists_path, class: "btn btn-secondary" %>
  </div>
</div>
