<!DOCTYPE html>
<html>
  <head>
    <title>Watch3r, log your favorite films, comment, enjoy !</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render "shared/navbar" %>
    <% else %>
      <span></span>
    <% end %>
  <div class="container">
      <%= yield %>
      <%= render "shared/flashes" %>
  </div>
    <% if user_signed_in? %>
      <%= render "shared/footer" %>
    <% else %>
      <span></span>
    <% end %>

    <div id="space-for-navbar">
    </div>

  </body>

</html>
